.pagination
  margin 10px auto
  text-align center
  button
    height 30px
    margin 0 5px
    padding 0 15px
    outline none
    background-color transparent
    border solid 1px rgb(166, 166, 166)
    border-radius 5px
    font-size 14px
    cursor pointer
  input
    height 26px
    margin 0 5px 0 5px
    vertical-align bottom
    text-align center
    background-color transparent
    border solid 1px rgb(166, 166, 166)
    border-radius 5px
    font-size 14px